*{
    margin: 0%;
    padding: 0%;
    
}
#game{
    width: 2556px;
    height: 860px;
    border: 1px solid orange;
    background-image: url(terra.jpg);
}
#personagem{
    width: 280px;
    height: 270px;
    position: relative;
    background-image: url(nv2.png);
    top: 150px;
}

.animar{ 
        animation: personagem 800ms infinite;
    
}
@keyframes personagem{
    0%{top: 150px;}
    30%{top: 0px;}
    70%{top: 0px;}
    100%{top: 150px;}
}
#quadrado{
    width: 150px;
    height: 130px;
    background-image: url(as1.png);
    position: relative;
    top: 20px;
    left: 480px;
    animation: quadrado 3s infinite linear; 
}
@keyframes quadrado{
    0%{left: 2200px;}
    100%{left: -40px;}
}
#start-button{
    background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 50px;
	width: 100px;
	text-shadow: none;

}
#hh{
    width: 99%;
    height: 80px;
     background-color: #333;
     font-family: Arial, sans-serif;
     text-align: center;
     border-bottom: 2px solid #fff;
     padding: 10px;
}
.letra{
    color: red;
}
