*{
    margin: 0%;
    padding: 0%;
    
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid orange;
    background-image: url(th.jpg);
}
#personagem{
    width: 50px;
    height: 50px;
    position: relative;
    background-image: url(dino.png);
    top: 140px;
}

.animar{ 
        animation: personagem 500ms infinite;
}
@keyframes personagem{
    0%{top: 150px;}
    30%{top: 50px;}
    70%{top: 50px;}
    100%{top: 150px;}
}
#quadrado{
    width: 35px;
    height: 35px;
    background-image: url(og.png);
    position: relative;
    top: 95px;
    left: 480px;
    animation: quadrado 1s infinite linear; 
}
@keyframes quadrado{
    0%{left: 480px;}
    100%{left: -40px;}
}